body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  /*
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;*/
}

.field_with_errors {
  input, textarea {
    border-color: red;
  }
}

#error_explanation {
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 10px;
    background-color: #f2dede;
    color: #b94a48;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  ul {
    padding-left: 25px;
    color: red;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}
