.navbar.navbar-inverse{ role: "navigation" }
  .navbar-inner
    .container
      .navbar-brand
        = link_to 'Netguru Workshops', root_path, id: 'logo'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Home', root_path
          %li
            - if user_signed_in?
              = link_to 'Sign Out', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Sign In', new_user_session_path
